<div data-role="page" data-theme="i" date-backbtn="false" id="home">
  <div data-role="header" data-theme="i">
    <h1>Booking Demo</h1>
  </div>
  <div data-role="content">
    <a href="#findFlights" data-inline="true">Find Flights</a>
  </div>
  <div data-role="footer">
    <h4> <a href="#">Privacy</a></h4>
  </div>
</div>

<div data-role="page" data-theme="i" id="findFlights">
  <div data-role="header" data-theme="i">
    <a href="#home" class="homeBtn">Home</a>
    <h1 id="findFlights">Find Flights</h1>
  </div>
  <div data-role="content">
    <div class="wrapper">
      <ul id="topNavs" class="commonLst">
        <li><a href="#">One Way</a></li>
        <li><a href="#" class="current">Return</a></li>
        <li><a href="#">Multi-City</a></li>
      </ul>
      <ul id="fromTo" class="commonLst">
        <li>
          <h5>From</h5>
          <div id="fromInfo">
            <ul class="commonLst ft">
              <li class="commonInfoAbb">SYD</li>
              <li class="commonInfoFul">Sydney</li>
            </ul>
          </div>
        </li>
        <li>
          <h5>To</h5>
          <div id="toInfo">
            <ul class="commonLst ft">
              <li class="commonInfoAbb">MEL</li>
              <li class="commonInfoFul">Melbourne</li>
            </ul>
          </div>
        </li>
      </ul>
      <div id="depAr">
        <ul>
          <li>Departure Details</li>
          <li>Arrival Details</li>
        </ul>
      </div>
    </div>
  </div>
  <div data-role="footer" class="footer" data-theme="i">
    <a href="#" class="footerBtn" >Regular Site</a>
  	<a href="#" class="footerBtn" >Privacy &amp; Security</a>
  	<a href="#" class="footerBtn" >Help</a>
  </div>
</div>