<div data-role="page" data-theme="i" date-backbtn="false" id="home">
  <div data-role="header" data-theme="i">
    <h1>Booking Demo</h1>
  </div>
  <div data-role="content">
    <div class="contentWrap">
      <a href="#findFlights" data-inline="true">Find Flights</a>
    </div>
  </div>
  <div data-role="footer" class="footer" data-theme="i">
    <a href="#" class="footerBtn" >Regular Site</a>
  	<a href="#" class="footerBtn" >Privacy &amp; Security</a>
  	<a href="#" class="footerBtn" >Help</a>
  </div>
</div>

<div data-role="page" data-theme="i" id="findFlights">
  <div data-role="header" data-theme="i">
    <a href="#home" class="homeBtn">Home</a>
    <h1 id="findFlights">Find Flights</h1>
  </div>
  <div data-role="content">
    <div class="wrapper contentWrap">
      <ul id="topNavs" class="commonLst">
        <li><a href="#">One Way</a></li>
        <li><a href="#" class="current">Return</a></li>
        <li><a href="#">Multi-City</a></li>
      </ul>
      <ul id="fromTo" class="commonLst">
        <li>
          <h5>From</h5>
          <div id="fromInfo">
            <a href="#findAirports">
              <ul class="commonLst ft">
                <li class="commonInfoAbb">SYD</li>
                <li class="commonInfoFul">Sydney</li>
              </ul>
            </a>
          </div>
        </li>
        <li>
          <h5>To</h5>
          <div id="toInfo">
            <a href="#findAirports">
            <ul class="commonLst ft">
              <li class="commonInfoAbb">MEL</li>
              <li class="commonInfoFul">Melbourne</li>
            </ul>
            </a>
          </div>
        </li>
      </ul>
      <div id="depAr">
        <ul>
          <li>Departure Details</li>
          <li>Arrival Details</li>
        </ul>
      </div>
    </div>
  </div>
  <div data-role="footer" class="footer" data-theme="i">
    <a href="#" class="footerBtn" >Regular Site</a>
  	<a href="#" class="footerBtn" >Privacy &amp; Security</a>
  	<a href="#" class="footerBtn" >Help</a>
  </div>
</div>

<div data-role="page" data-theme="i" id="findAirports">
  <div data-role="header" data-theme="i">
    <div id="searchBar" class="wrapper">
      <div id="sbFlds">
          <!-- <label for="search" id="sbLblFld">From</label> -->
          <input type="search" name="password" id="search" value="" data-theme="c"/>
      </div>
      <a href="#findFlights" class="cancelBtn ui-btn-right">Cancel</a>
    </div>
  </div>
  <div data-role="content">
    <div class="wrapper contentWrap">
      <ul data-role="listview" data-theme="i" class="contentWrap">
        <li data-role="list-divider" role="heading">Airports nearest to your current location</li>
      	<li><a href="#">Melbourne, Tullamarine</a></li>
      	<li><a href="#">Melbourne, Avalon</a></li>
      </ul>
    </div>
  </div>
  <div data-role="footer" class="footer" data-theme="i">
    <a href="#" class="footerBtn" >Regular Site</a>
  	<a href="#" class="footerBtn" >Privacy &amp; Security</a>
  	<a href="#" class="footerBtn" >Help</a>
  </div>
</div>