<div data-role="footer" class="footer" data-theme="i">
  <a href="#" class="footerBtn" >Regular Site</a>
  <a href="#" class="footerBtn" >Privacy &amp; Security</a>
  <a href="#" class="footerBtn" >Help</a>
</div>